body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1962_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1903px;
  height:118px;
  background-image:none;
}
#u1962_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:1903px;
  height:80px;
}
#u1963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:39px;
  background:inherit;
  background-color:rgba(44, 62, 80, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:39px;
}
#u1964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:84px;
  height:80px;
  color:#FFFFFF;
}
#u1965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:80px;
  word-wrap:break-word;
}
#u1966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:38px;
  width:84px;
  height:80px;
  color:#FFFFFF;
}
#u1966_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1966.mouseOver {
}
#u1966_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1966.selected {
}
#u1966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:80px;
  word-wrap:break-word;
}
#u1967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:38px;
  width:84px;
  height:80px;
  color:#FFFFFF;
}
#u1967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:80px;
  word-wrap:break-word;
}
#u1968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:38px;
  width:84px;
  height:80px;
  color:#FFFFFF;
}
#u1968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:80px;
  word-wrap:break-word;
}
#u1969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:38px;
  width:84px;
  height:80px;
  color:#FFFFFF;
}
#u1969_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1969.mouseOver {
}
#u1969_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1969.selected {
}
#u1969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:80px;
  word-wrap:break-word;
}
#u1970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:1683px;
  top:38px;
  width:74px;
  height:80px;
  color:#FFFFFF;
}
#u1970_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1970.selected {
}
#u1970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:70px;
  word-wrap:break-word;
}
#u1971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:38px;
  width:74px;
  height:80px;
  color:#FFFFFF;
}
#u1971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:70px;
  word-wrap:break-word;
}
#u1972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:1829px;
  top:38px;
  width:74px;
  height:80px;
  color:#FFFFFF;
}
#u1972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:70px;
  word-wrap:break-word;
}
#u1973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(66, 82, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:38px;
  width:84px;
  height:80px;
  color:#FFFFFF;
}
#u1973_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1973.mouseOver {
}
#u1973_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:80px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1973.selected {
}
#u1973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:80px;
  word-wrap:break-word;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:12px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:183px;
  width:65px;
  height:19px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1691px;
  height:2px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:214px;
  width:1690px;
  height:1px;
}
#u1976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:231px;
  width:277px;
  height:75px;
}
#u1977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:242px;
  width:17px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
}
#u1978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:276px;
  width:71px;
  height:16px;
}
#u1979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:232px;
  width:277px;
  height:75px;
}
#u1980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:243px;
  width:17px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
}
#u1981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:277px;
  width:85px;
  height:16px;
}
#u1982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:73px;
  background:inherit;
  background-color:rgba(155, 155, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:233px;
  width:10px;
  height:73px;
}
#u1983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:2px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:325px;
  width:1667px;
  height:1px;
}
#u1984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:581px;
  width:71px;
  height:16px;
}
#u1985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:362px;
  width:300px;
  height:25px;
}
#u1986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:575px;
  width:300px;
  height:22px;
}
#u1987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1987_input:disabled {
  color:grayText;
}
#u1988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:371px;
  width:71px;
  height:16px;
}
#u1988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:2px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:688px;
  width:1667px;
  height:1px;
}
#u1989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:740px;
  width:104px;
  height:28px;
}
#u1990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:740px;
  width:104px;
  height:28px;
}
#u1991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:459px;
  width:300px;
  height:25px;
}
#u1992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:468px;
  width:71px;
  height:16px;
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:418px;
  width:71px;
  height:16px;
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:412px;
  width:300px;
  height:22px;
}
#u1995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1995_input:disabled {
  color:grayText;
}
#u1996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:73px;
  background:inherit;
  background-color:rgba(113, 184, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:232px;
  width:10px;
  height:73px;
}
#u1996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:213px;
  height:855px;
  overflow:hidden;
}
#u1998_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:855px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1998_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:854px;
  background:inherit;
  background-color:rgba(236, 240, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:854px;
}
#u2000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:213px;
  height:49px;
  font-size:14px;
  color:#566573;
}
#u2001_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2001.selected {
}
#u2001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u2002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:213px;
  height:49px;
  font-size:14px;
  color:#566573;
}
#u2002_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2002.selected {
}
#u2002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u2003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  font-size:14px;
  color:#566573;
}
#u2003_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2003.selected {
}
#u2003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u2004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:213px;
  height:49px;
  font-size:14px;
  color:#566573;
}
#u2004_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2004.selected {
}
#u2004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u2005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:213px;
  height:49px;
  font-size:14px;
  color:#566573;
}
#u2005_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#566573;
}
#u2005.selected {
}
#u2005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u2006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:526px;
  width:71px;
  height:16px;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:522px;
  width:300px;
  height:25px;
}
#u2007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1690px;
  height:49px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:118px;
  width:1690px;
  height:49px;
}
#u2008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:136px;
  width:300px;
  height:16px;
}
#u2009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:631px;
  width:71px;
  height:16px;
}
#u2010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:625px;
  width:300px;
  height:22px;
}
#u2011_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2011_input:disabled {
  color:grayText;
}
